    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=project.worker.username) }}">
                    <img src="{{ project.worker.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('main.user', username=project.worker.username) }}">
                    {{ project.worker.username }}
                </a>
                working on {{ moment(project.timestamp).fromNow() }}:
                <br>
                {{ project.client }}
                <br>
                {{ project.date }}
                <br>
                Total: {{ project.income }} NOK
            </td>
        </tr>
    </table>
