
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              <a href="https://github.com/flaviassantos/dashboard/" class="ml-1" >Machine Learning Dashboard</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                &copy; <a href="www.linkedin.com/in/flaviasouzasantos</a> Systems Engineer | Data Scientist
              </li>
            </ul>
          </div>
        </div>
      </footer>
